@model IEnumerable<RentaCar.Datos.Vehiculo>
@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="gtco-container">
    <h2 class="primary-color">Vehículos</h2>
    @Html.Partial("_Buscador")
    <div class="col-md-9">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="fh5co-card-item">
                        <figure>
                            <img src="@item.url_foto"  alt="Image" class="img-responsive" />
                        </figure>
                        <br />
                        <div class="fh5co-text">
                            <h2>@item.modelo</h2>
                            <table class="table">
                                <tr>
                                    @if (item.aire_acondicionado)
                                    {
                                    <td><i class="fa fa-snowflake-o" style="color:blue;" aria-hidden="true"></i> A/C</td>
                                    }
                                    <td><i class="fa fa-user" style="color:green;" aria-hidden="true"></i> @item.capacidad</td>
                                    <td><i class="fa fa-microchip" aria-hidden="true"></i> @item.transmision</td>
                                    <td><i class="fa fa-asterisk" aria-hidden="true"></i> @item.puertas Puertas</td>
                                </tr>
                            </table>
                          
                            <p><span>Valor Diario:</span></p>
                            <p><span class="price cursive-font">@string.Format("{0} {1:N0}","$",item.valor)</span>
                                <div style="padding: 10px;">
                                    <input type="button" class="btn btn-primary" value="Arrendar" />
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>

</div>