@model RentaCar.Models.HomeReservaVehiculo
@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url('../../Imagenes/Fondo_Index.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">

                <div class="row row-mt-10em">
                    <div class="col-md-12">
                        <div class="form-wrap">
                            <div class="tab">

                                <div class="tab-content" style="background: rgba(0, 0, 0, 0.9);">
                                    <div class="tab-content-inner active" data-content="signup">
                                        <h3 class="cursive-font">Fechas <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h3>
                                        <br />
                                        @using (Html.BeginForm("Buscar", "Home", FormMethod.Get, new { @id = "form" }))
                                        {
                                            <div class="form-group ">
                                                <div class="col-md-6">
                                                    <label for="date-start">Fecha de salida</label>
                                                    <input type="text" data-format="DD-MM-YYYY" name="Fechadesde" placeholder="Ingresar fecha..." value="@Model.busquedaPrincipal.Fechadesde" id="datedesde" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group ">
                                                <div class="col-md-6">

                                                    <label for="date-start">Hora de salida</label>
                                                    <select name="Timedesde" id="timedesde" class="form-control">
                                                        @if (!string.IsNullOrEmpty(Model.busquedaPrincipal.Timedesde))
                                                        {
                                                            <option style="color:gray;" value="@Model.busquedaPrincipal.Timedesde">@Model.busquedaPrincipal.Timedesde</option>
                                                        }
                                                        <option style="color:gray;" value="">Selecciona una hora...</option>
                                                        <option style="color:gray;" value="9:00">9:00 </option>
                                                        <option style="color:gray;" value="10:00">10:00</option>
                                                        <option style="color:gray;" value="11:00">11:00</option>
                                                        <option style="color:gray;" value="12:00">12:00</option>
                                                        <option style="color:gray;" value="13:00">13:00</option>
                                                        <option style="color:gray;" value="14:00">14:00</option>
                                                        <option style="color:gray;" value="15:00">15:00</option>
                                                        <option style="color:gray;" value="16:00">16:00</option>
                                                        <option style="color:gray;" value="17:00">17:00</option>
                                                        <option style="color:gray;" value="18:00">18:00</option>
                                                        <option style="color:gray;" value="19:00">19:00</option>

                                                    </select>

                                                </div>
                                            </div>
                                          
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label for="date-start">Fecha de retorno</label>
                                                    <input type="text" name="Fechahasta" id="datehasta" value="@Model.busquedaPrincipal.Fechahasta" placeholder="Ingresar fecha..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-6">
                                                    <label for="date-start">Hora de retorno</label>
                                                    <select name="Timehasta" id="timehasta" class="form-control">
                                                        @if (!string.IsNullOrEmpty(Model.busquedaPrincipal.Timedesde))
                                                        {
                                                            <option style="color:gray;" value="@Model.busquedaPrincipal.Timehasta">@Model.busquedaPrincipal.Timehasta</option>
                                                        }
                                                        <option style="color:gray;" value="">Selecciona una hora...</option>
                                                        <option style="color:gray;" value="9:00">9:00 </option>
                                                        <option style="color:gray;" value="10:00">10:00</option>
                                                        <option style="color:gray;" value="11:00">11:00</option>
                                                        <option style="color:gray;" value="12:00">12:00</option>
                                                        <option style="color:gray;" value="13:00">13:00</option>
                                                        <option style="color:gray;" value="14:00">14:00</option>
                                                        <option style="color:gray;" value="15:00">15:00</option>
                                                        <option style="color:gray;" value="16:00">16:00</option>
                                                        <option style="color:gray;" value="17:00">17:00</option>
                                                        <option style="color:gray;" value="18:00">18:00</option>
                                                        <option style="color:gray;" value="19:00">19:00</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <h3 class="cursive-font">Tu ubicacion para llevar el vehiculo <i class="fa fa-thumb-tack" aria-hidden="true"></i></h3>
                                            <br />
                                            <div class="row form-group">
                                                <label class="col-md-3 control-label">Ciudad</label>
                                                <div class="col-md-5">
                                                    <input type="text" id="Ciudad" name="Ciudad" style="background: transparent;" class="form-control" value="Santiago" readonly/>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-md-3 control-label">Comuna</label>
                                                <div class="col-md-5">
                                                    <select id="Comuna" name="Comuna" class="form-control">
                                                        @if (Model.busquedaPrincipal.Comuna!=0)
                                                        {
                                                            <option style="color:gray;" value="@Model.busquedaPrincipal.Comuna">@Model.busquedaPrincipal.ComunaNombre</option>
                                                        }
                                                        @foreach (var item in Model.Comunas.OrderBy(x => x.nombre))
                                                            {
                                                                <option style="color:gray;" value="@item.ID">@item.nombre</option>
                                                            }
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-md-3 control-label">Direccion</label>
                                                <div class="col-md-5">
                                                    <input type="text" id="Direccion" name="Direccion" value="@Model.busquedaPrincipal.Direccion" class="form-control" required />
                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <input type="button" onclick="ValidarFechas()" class="btn btn-primary btn-block" value="Buscar">

                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</header>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script>
    function ValidarFechas() {
        var timedesde = $('#timedesde').val().split(":");
        var timehasta = $('#timehasta').val().split(":");
        if ($('#datedesde').val() == "" || $('#timedesde').val() == "" || $('#datehasta').val() == "" || $('#timehasta').val() == "")
        {
            swal("Porfavor, llenar todos los campos del formulario!");
            return false;
        }

        if ($('#datedesde').val() != "" && $('#datehasta').val() !="") {
            var desde = $('#datedesde').val().split("-");
            var hasta = $('#datehasta').val().split("-");
            var des = new Date(desde[2], desde[1] - 1, desde[0], timedesde[0], timedesde[1], 0, 0);
            var has = new Date(hasta[2], hasta[1] - 1, hasta[0], timehasta[0], timehasta[1], 0, 0);
            console.log(des);
            if (des < new Date()) {
                swal("No puedes seleccionar una fecha menor a la de hoy!");
                return false;
            }

            if (des > has) {
                swal("Datos mal ingresado");
                return false;
            }
        }
        if ($('#Direccion').val() == "")
        {
            swal("Completar direccion");
            return false;
        }

        $('#form').submit();

    }
    </script>

}